
#title span {
    background: linear-gradient(45deg, #54b7ff, #FF99CC);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text; /* 为了兼容 Webkit 浏览器 */
    font-size: 3.8rem; /* 调整为比默认字体更大的大小 */
    font-weight: bold; /* 可选：让文字加粗 */
}

.image-container {
    display: flex; /* 启用 Flexbox 布局 */
    justify-content: space-around; /* 图片均匀分布，并保持一定间距 */
    align-items: center; /* 垂直居中对齐 */
    gap: 20px; /* 图片之间的水平间距 */
    padding: 10px; /* 为容器添加内边距 */
}

.image-container img {
    max-width: 175px; /* 限制图片的最大宽度 */
    height: auto; /* 保持图片的纵横比 */
    object-fit: contain; /* 确保图片内容完整显示 */
}


.paper-thumbnail {
    margin: 0 auto;
    width: 80%;
    max-width: 450px;
    display: inline-block;
    vertical-align: top;
    padding: 2% 10% 4% 0;
}

.paper-info {
    width: 51%;
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 999px) {
    .paper-thumbnail {
        width: 60%;
    }

    .paper-info {
        width: 80%;
    }
}
.layered-paper-big {
    /* modified from: http://css-tricks.com/snippets/css/layered-paper/ */
    box-shadow:
            0px 0px 1px 1px rgba(0,0,0,0.35), /* The top layer shadow */
            5px 5px 0 0px #fff, /* The second layer */
            5px 5px 1px 1px rgba(0,0,0,0.35), /* The second layer shadow */
            10px 10px 0 0px #fff, /* The third layer */
            10px 10px 1px 1px rgba(0,0,0,0.35), /* The third layer shadow */
            15px 15px 0 0px #fff, /* The fourth layer */
            15px 15px 1px 1px rgba(0,0,0,0.35), /* The fourth layer shadow */
            20px 20px 0 0px #fff, /* The fifth layer */
            20px 20px 1px 1px rgba(0,0,0,0.35), /* The fifth layer shadow */
            25px 25px 0 0px #fff, /* The sixth layer */
            25px 25px 1px 1px rgba(0,0,0,0.35); /* The sixth layer shadow */
    margin-left: 10px;
    margin-right: 45px;
}

pre {
    overflow-x: auto;
    text-align: left;
    border: 1px solid grey;
    border-radius: 3px;
    background: #eeeeee;
    padding: 5px 5px 5px 10px;
    line-height: 1.2;
    white-space: pre-wrap;
}

pre code {
    text-align: left;
    word-wrap: normal;
    white-space: pre-wrap;

}

pre {
    -webkit-overflow-scrolling: touch;
    background-color: #f5f5f5;
    color: #4a4a4a;
    font-size: .875em;
    overflow-x: auto;
    padding: 1.25rem 1.5rem;
    white-space: pre;
    word-wrap: normal;
}


pre code {
    background-color: transparent;
    color: currentColor;
    font-size: 1.25em;
    padding: 0;
}

h4 {
    text-align: left;
    color: #515151;
    font-size: 1.25em; /* 增大字号，可以根据需要调整 */
    font-weight: bold; /* 加粗 */
    font-family: 'Times New Roman', Times, serif; /* 设置字体为 Times New Roman */
    margin-bottom: 15px; /* 增加下方间距，调整数值以满足需求 */
}

h5 {
    text-align: left;
    color: #515151;
    font-weight: bold; /* 加粗 */
    font-family: 'Times New Roman', Times, serif; /* 设置字体为 Times New Roman */
    margin-bottom: 15px; /* 增加下方间距，调整数值以满足需求 */
}


.container-iframes {
    display: flex; /* 启用Flexbox布局 */
    justify-content: space-between; /* 子元素之间的间距平均分布 */
    align-items: center; /* 垂直居中对齐 */
    flex-wrap: wrap; /* 如果容器空间不足，允许子元素换行 */
}

.container-iframes .juxtapose {
    flex: 1; /* 每个iframe占据等分的空间 */
    margin: 5px; /* 添加一些外边距 */
    width: calc(33.333% - 10px); /* 减去外边距的宽度 */
    height: 300px; /* 设置iframe的高度 */
}


